header{
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
h1.title {
  color: #ff0000;
  font-size: 3rem;
  line-height: 1;
  padding: 1rem 1rem;
  margin: 0;
}
#sticky{
  position: sticky;
  top: 5rem;
  z-index: 10;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.row0{
  background-color: #fff;
}
.row1{
  background-color: rgba(0, 0, 0, 0.1);
}
.row2{
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 382px){
  #sticky{
    top: 8rem;
  }
}
/* @media (prefers-color-scheme: dark){
  
} */