header{
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
h1.title {
  color: #ff0000;
  font-size: 3rem;
  line-height: 1;
  padding: 1rem 1rem;
  margin: 0;
}
#creatureList {
  margin-top: 5rem;
}
#sticky{
  position: sticky;
  top: 5rem;
  z-index: 10;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}